body {
  margin: 20px 40px;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.job {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
}
.job-column{
  display:  flex;
  flex-direction: column;
  align-items: flex-start;

}
.job:hover{
  cursor: "pointer";
  color: #666666;
}
.detail-logo{
  height: 30px; 
  float: right
}



